@mixin button ($color, $background-color, $background-color--hover, $padding, $font-size) {
  color: $color;
  padding: $padding;
  background-color: $background-color;
  text-decoration: none;
  margin: 8px 0;
  display: inline-block;
  cursor: pointer;
  @include font-size($font-size);

    &:hover {
      text-decoration: none;
    }
}

.button {
  @include button(#ffffff, $re-colorBlue, $re-colorLightBlue, 12px, 16);
}