
$layout-footer-width: 970px;
$footer-bg-grey: #2e2e2e;
$footer-text-color: #ffffff;

.re-Footer {
  background-color: $footer-bg-grey;
  color: $footer-text-color;

    svg[class^="fc-icon-svg-"] {
      fill: #ffffff;
      width: 1.5rem;
      height: 1.5rem;
      vertical-align: middle;
      padding-right: 0.2rem;
    }

    &--txtbold {
      font-weight: 600;
      color: $footer-text-color;
    }

    a {
    color: #cccccc;
    text-decoration: none;

      &:hover {
        color: $footer-text-color;
      }
    }

    &-container {
      max-width: $layout-footer-width;
      margin: 0 auto;
      padding: 1.5rem;
    }

    &-group:before,
    &-group:after {
      content: "";
      display: table;
    }

    &-group:after {
      clear: both;
    }

    &-corporative {
      clear: both;
      margin: 2rem 0 0;
      overflow: hidden;
    }

    &-legal {
      clear: both;
      margin: 1rem 0 2rem;
      overflow: hidden;
    }

    &-corporative_portals,
    &-legal_links {
      list-style-type: none;
      font-size: .875rem;
      margin: 0;
      padding: 0;
      overflow: hidden;

        li {
          float: left;
          margin-right: 1rem;

            &:last-child {
              margin-right: 0;
            }
        }
    }

    &-column {
      float: left;
      display: block;
      margin: 1rem 0 1rem 1.6%;
      width: 23.8%;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          float: right;
        }

        ul {
          list-style-type: none;
          padding: 0;
          margin: 1rem 0 0;

            li {
              padding: .1rem 0;
            }
        }

        h4 {
          margin: 0;
          font-size: 1.250rem;
        }

        img {
          max-width: 80%;
          height: auto;
          display: block;
          margin-bottom: 0.5rem;
        }
    }
}




